/**
 * 
 */


/**
	Horizontal gradient, from left to right
	Creates two color stops, start and end, by specifying a color and position for each color stop.
	 Color stops are not available in IE9 and below. 
 
 */
.bg-h(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image: -webkit-linear-gradient(left, color-stop(@start-color @start-percent), color-stop(@end-color @end-percent)); // Safari 5.1-6, Chrome 10+
    background-image:  linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down
}

/**
	Vertical gradient, from top to bottom
	
	Creates two color stops, start and end, by specifying a color and position for each color stop.
	Color stops are not available in IE9 and below.
 */
.bg-v(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
	background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Safari 5.1-6, Chrome 10+
	background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down
}

/**
 * directional
 */
.bg-d(@start-color: #555; @end-color: #333; @deg: 45deg) {
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(@deg, @start-color, @end-color); // Safari 5.1-6, Chrome 10+
	background-image: linear-gradient(@deg, @start-color, @end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}

/**
 * horizontal-three-colors
 */
.bg-h3c(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
	background-image: -webkit-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
	background-image: linear-gradient(to right, @start-color, @mid-color @color-stop, @end-color);
	background-repeat: no-repeat;
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
}

/**
 * vertical-three-colors
 */
.bg-v3c(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
	background-image: -webkit-linear-gradient(@start-color, @mid-color @color-stop, @end-color);
	background-image: linear-gradient(@start-color, @mid-color @color-stop, @end-color);
	background-repeat: no-repeat;
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
}

/**
 * radial
 */
.bg-r(@inner-color: #555; @outer-color: #333) {
	background-image: -webkit-radial-gradient(circle, @inner-color, @outer-color);
	background-image: radial-gradient(circle, @inner-color, @outer-color);
	background-repeat: no-repeat;
}
/**
 * striped
 */
.bg-s(@color: rgba(255,255,255,.15); @angle: 45deg) {
	background-image: -webkit-linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
	background-image: linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
}

.wid-3d(){
	
	box-shadow: 0 1px 0 #ffffff inset,0 -1px 0 #ffffff inset, 1px 0 0 #ffffff inset, -1px 0 0 #ffffff inset;
}


/**
 * 
 */
 
 
 
 
.padding-none .wid-dataGrid{
	border: none;
	border-top: 1px solid #fff;	
	border-bottom: 1px solid #fff;	
		
}


.wid-dataGrid{
    border:1px solid #bbb;
    position: relative;
    overflow: hidden;
}



.wid-dataGrid > table{
  	border-collapse: separate;
    table-layout: fixed;
    overflow: hidden;
    position: relative;
    border-spacing: 0px 0px;
    width: auto;
    min-width: 100%;
	    
}   





.wid-dataGrid .table-header th , 
.wid-dataGrid .table-body td,
.wid-dataGrid .table-footer td{
    padding: 5px 10px;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #fff;
    vertical-align: middle;
    font-size: 13px;
 }
 
.wid-dataGrid .table-header  th:last-child,
.wid-dataGrid .table-body  td:last-child,
.wid-dataGrid .table-footer td:last-child{
    border-left: none !important;
} 

.wid-dataGrid .table-header    th:first-child,
.wid-dataGrid .table-body  td:first-child,
.wid-dataGrid .table-footer td:first-child{
    border-right: none !important;
} 


/**
 * table header
 */

.wid-dataGrid .table-header{
	box-shadow: 0 -4px 10px 0px #333333;
}

.wid-dataGrid   .table-header th{
     border-bottom:1px solid #aaa;
 	background: linear-gradient(to bottom, #ececec 0%, #ccc 100%);
    padding: 5px 10px;
   	font-family: 'WTitr';
	font-size: 16px;
	text-shadow: 1px 1px 1px #fff;
	    
}

.wid-dataGrid .table-header th  a{
	background: url('/DataGridder/img/sort.png') no-repeat center right;
	padding: 0 20px;
}
.wid-dataGrid .table-header  a.asc{
	background: url('/DataGridder/img/sort-asc.png') no-repeat center right;
}
.wid-dataGrid .table-header  th  a.desc{
	background: url('/DataGridder/img/sort-desc.png') no-repeat center right;
}





/**
 * table body
 */
.wid-dataGrid .table-body td {
    border-bottom: 1px dotted #ccc;
}

.wid-dataGrid .table-row:last-child td {
    border-bottom: none;
}

.wid-dataGrid .table-body  tr:first-child td{
	padding-top: 10px;
}
.wid-dataGrid .table-body  tr:last-child td{
	padding-bottom: 10px;
}

 .wid-dataGrid .table-body  tr:nth-child(odd){
 background: #fafafa;	
 } 
 .wid-dataGrid .table-body  tr:hover{
         background: #FCFBF4;
         color: #000;
 }




/**
 * table footer
 */
.wid-dataGrid .table-footer{
	box-shadow: 0 5px 10px 0 #333333;
	background: #F0F0F0;	
}

.wid-dataGrid .table-footer td{
	border-top: 1px solid #aaa;

    padding: 3px 10px;
}
